In [1]:
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor as rf
import pandas as pd
from pandas import DataFrame as df
import seaborn as sns

In [2]:
data = pd.read_csv("50Hertz.csv", sep=",")
df1 = df(data)
df.head(data)

,Date,0:00:00,0:15:00,0:30:00,0:45:00,1:00:00,1:15:00,1:30:00,1:45:00,2:00:00,...,21:30:00,21:45:00,22:00:00,22:15:00,22:30:00,22:45:00,23:00:00,23:15:00,23:30:00,23:45:00
0,23/08/2019,74,73,63,55,54,53,51,52,45,...,68,68,63,61,57,52,51,49,45,40
1,24/08/2019,37,38,35,35,31,32,30,29,28,...,118,118,112,107,104,104,99,95,95,96
2,25/08/2019,93,88,85,81,76,80,81,76,73,...,111,108,103,96,93,88,86,82,80,77
3,26/08/2019,72,66,59,54,48,46,45,43,42,...,48,47,47,46,47,49,50,51,48,42
4,27/08/2019,39,38,36,36,34,31,31,30,31,...,54,53,51,52,51,52,54,54,56,59

In [3]:
train, test = train_test_split(data,test_size=0.4)

In [4]:
df.head(train)

,Date,0:00:00,0:15:00,0:30:00,0:45:00,1:00:00,1:15:00,1:30:00,1:45:00,2:00:00,...,21:30:00,21:45:00,22:00:00,22:15:00,22:30:00,22:45:00,23:00:00,23:15:00,23:30:00,23:45:00
181,20/02/2020,227,218,216,200,192,183,175,166,153,...,461,468,477,485,492,498,509,511,523,530
136,43983.00,147,144,144,139,146,143,139,145,140,...,153,153,157,174,172,172,175,177,186,191
35,27/09/2019,110,112,112,116,117,122,127,127,127,...,152,164,160,164,156,159,171,172,168,171
317,43958.00,198,205,209,211,212,211,207,216,216,...,179,173,171,163,162,159,161,172,184,182
388,14/09/2020,49,46,42,39,38,37,34,32,29,...,96,94,92,88,89,91,95,96,100,104

In [5]:
df.head(test)
print(test.shape)

(159, 97)

In [6]:
 train.describe()

,0:00:00,0:15:00,0:30:00,0:45:00,1:00:00,1:15:00,1:30:00,1:45:00,2:00:00,2:15:00,...,21:30:00,21:45:00,22:00:00,22:15:00,22:30:00,22:45:00,23:00:00,23:15:00,23:30:00,23:45:00
count,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,...,238.000000,238.000000,238.000000,238.00000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000
mean,142.651261,141.857143,141.970588,142.079832,141.756303,141.226891,140.672269,140.693277,140.294118,140.563025,...,149.890756,149.638655,149.252101,149.00000,148.340336,147.668067,147.609244,147.252101,146.542017,146.420168
std,125.442879,124.538628,125.250850,125.901265,126.103030,125.910385,126.313829,126.824085,126.438748,127.092155,...,132.195980,131.525501,131.895574,131.47434,131.178872,130.299246,130.509140,130.530739,130.244740,130.961101
min,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,...,4.000000,4.000000,4.000000,5.00000,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000
25%,54.000000,54.000000,52.000000,51.250000,49.500000,46.000000,46.250000,45.000000,45.000000,44.000000,...,53.000000,52.000000,51.000000,52.00000,50.250000,50.000000,51.000000,51.250000,50.500000,51.000000
50%,101.000000,100.000000,97.000000,96.500000,99.000000,100.500000,101.500000,103.000000,102.500000,101.500000,...,105.500000,105.000000,105.500000,108.00000,107.000000,102.000000,104.000000,103.500000,101.000000,102.500000
75%,195.500000,193.000000,193.000000,194.500000,192.000000,192.750000,189.000000,193.250000,193.000000,196.750000,...,215.750000,213.750000,211.750000,210.00000,209.250000,208.250000,206.500000,200.000000,204.750000,203.000000
max,554.000000,555.000000,552.000000,557.000000,568.000000,564.000000,589.000000,611.000000,610.000000,606.000000,...,631.000000,634.000000,644.000000,645.00000,636.000000,614.000000,600.000000,611.000000,609.000000,616.000000

In [7]:
 test.describe()

,0:00:00,0:15:00,0:30:00,0:45:00,1:00:00,1:15:00,1:30:00,1:45:00,2:00:00,2:15:00,...,21:30:00,21:45:00,22:00:00,22:15:00,22:30:00,22:45:00,23:00:00,23:15:00,23:30:00,23:45:00
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,...,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,141.937107,141.037736,140.566038,139.937107,139.408805,139.364780,138.628931,138.238994,137.899371,137.125786,...,141.459119,141.628931,141.867925,141.496855,140.559748,139.779874,139.157233,138.767296,138.773585,137.811321
std,133.991389,133.626197,134.233102,133.901895,133.239634,133.457973,132.997885,133.159201,133.894924,132.347296,...,128.333315,128.789081,129.371172,129.177332,128.533628,127.871803,127.647534,127.848862,127.785814,127.061192
min,7.000000,8.000000,7.000000,6.000000,7.000000,6.000000,6.000000,6.000000,6.000000,6.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000,10.000000,10.000000
25%,48.500000,47.500000,45.000000,46.000000,48.000000,49.000000,47.500000,48.000000,47.500000,49.000000,...,51.500000,51.500000,55.000000,54.500000,54.000000,54.500000,52.000000,54.500000,55.000000,56.000000
50%,101.000000,98.000000,98.000000,95.000000,97.000000,94.000000,97.000000,97.000000,94.000000,90.000000,...,103.000000,102.000000,102.000000,99.000000,101.000000,101.000000,99.000000,98.000000,98.000000,100.000000
75%,178.500000,169.000000,165.000000,168.500000,175.500000,177.000000,181.500000,181.000000,173.500000,171.500000,...,161.000000,160.500000,161.000000,158.000000,157.500000,155.500000,155.000000,158.000000,159.000000,161.000000
max,602.000000,592.000000,589.000000,597.000000,593.000000,595.000000,599.000000,614.000000,622.000000,615.000000,...,597.000000,626.000000,620.000000,615.000000,607.000000,606.000000,604.000000,606.000000,597.000000,592.000000

In [ ]:
sns.pairplot(train)

In [ ]:
#corelation matrix
corrmat = train.corr()
f, ax = plt.subplots(figsize=(8, 6))
sns.heatmap(corrmat, vmax=.8, square=True)

Random forest on splitted data

In [ ]:
randforest = rf(bootstrap = True, criterion='mse', max_depth = 2000, oob_score = True)

In [ ]:
oob = []
for i in range(1,400):
    randforest = rf(bootstrap = True, criterion='mse', max_depth = 2000, oob_score = True, n_estimators = i).fit(train,test)
    oob.append(randforest.oob_score_)